# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv_mac/
dist/
build/
release-assets/
legacy/*.spec

# macOS
.DS_Store

# AKM Data
akm_assistant/
data.json
data_backup.json
lang.txt
settings.json

# Binaries
chromedriver*
akm_icon.ico
Meine_Playlist_Nr._5.csv
